<?xml version="1.0" encoding="UTF-8"?>
<web-app>	
	<servlet>
		<servlet-name>sc</servlet-name>
		<servlet-class>sc.ustc.controller.SimpleController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sc</servlet-name>
		<url-pattern>*.sc</url-pattern>
	</servlet-mapping>
</web-app>
